header{
 padding: 20px 50px;
 background: #FFFFFF;
 box-shadow: 0 4px 10px 0 rgba(218,218,218,0.50);
 font-family: $rubik;
 font-weight: 600;
 position: fixed;
 top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	z-index: 9;
.logo{
		color: $text-blue;
		font-weight: normal;
		opacity: 0.7;
		&.active{
			opacity: 1;
			padding-bottom: 17px;
   border-bottom: 3px solid $blue;
		}
}
.profile{
   float: right;
			color: $text-blue;
			position: relative;
			.profile-name{
				background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/Arrow-down.svg) no-repeat center right;
				padding-right: 20px;
				cursor: pointer;
			}
			.profile-dd{
				position: absolute;
    background-color: #fff;
    padding: 20px;
				box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.20);
    top: 25px;
    right: 0px;
				width: 120px;
				display: none;
				li{
					font-weight: 400;
					font-size: 14px;
						&:first-child{
							margin-bottom: 15px;
							cursor: pointer;
						}
				}
}
&.open .profile-dd{
	display: block;
}
}
.admin-menu{
	display: none;
	margin-left: 60px;
	a{
		opacity: 0.7;
		font-weight: 400;
		color: $text-blue;
		font-family: $rubik;
		&:active, &:visited, &:link{
			color: $text-blue;
		}
		&:hover, &.active{
			opacity: 1;
			padding-bottom: 17px;
   border-bottom: 3px solid$blue;
		}
		&:first-child{
			margin-right: 70px;
		}
	}
}
}

.container{
 max-width:  1280px;
 width: 100%;
 margin: 80px auto 50px auto;
}
.btn-primary{
 background: #0066FF;
border-radius: 35px;
font-family: $rubik;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0.32px;
padding: 8px 18px;
border: none;
box-sizing: border-box;
font-weight: 500;
border: 3px solid #0066ff;
cursor: pointer;
}
.btn-sec{
 border: 3px solid #1C2845;
border-radius: 35px;
font-family: $rubik;
font-size: 14px;
color: #1C2845;
letter-spacing: 0.32px;
padding: 8px 18px;
box-sizing: border-box;
font-weight: 500;
background: #fff;
cursor: pointer;
}
.vb{
  max-width: 600px;
  border-radius: 4px;
  position: fixed;
  right: calc(50% - (332px / 2));
  top: 30px;
  padding: 16px 10px;
		box-sizing: border-box;
		z-index: 99;
  &.auth{
    right: 200px;
  }
  span{
    font-family: $rubik;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    display: block;
  }
}
.success{
background: #DAE4D6;
span{
 color: $green;
}
}
.error{
  background: #F9E0DE;
span{
    color: $red;
  }
  }
.hide{
  display: none!important;
}


//placeholder styles

*::-webkit-input-placeholder {
  color:  #000;
  opacity: 0.4;
  font-family:  $cairo;
  font-size: 14px;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color:  #000;
  opacity: 0.4;
  font-family:  $cairo;
  font-size: 14px;
}
*::-moz-placeholder {
  /* FF 19+ */
  color:  #000;
  opacity: 0.4;
  font-family:  $cairo;
  font-size: 14px;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color:  #000;
  opacity: 0.4;
  font-family:  $cairo;
  font-size: 14px;
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color:  #000;
  opacity: 0.4;
  font-family:  $cairo;
  font-size: 14px;
}
*::placeholder {
  /* modern browser */
  color:  #000;
  opacity: 0.4;
  font-family:  $cairo;
  font-size: 14px;
}

// .slide-left {
// 	-webkit-animation: slide-left 0.5s ease-in-out both;
// 	        animation: slide-left 0.5s ease-in-out both;
// }

// @-webkit-keyframes slide-left {
//   0% {
//     -webkit-transform: translateX(-20px);
//             transform: translateX(-20px);
//   }
//   100% {
//     -webkit-transform: translateX(-50px);
//             transform: translateX(-50px);
//   }
// }
// @keyframes slide-left {
//   0% {
//     -webkit-transform: translateX(-20px);
//             transform: translateX(-20px);
//   }
//   100% {
//     -webkit-transform: translateX(-50px);
//             transform: translateX(-50px);
//   }
// }


/*** sections hide/show ***/
.lesson, .quiz, .course-listing, .course-creation, .create-lesson, .admin-dashboard{
	display: none;
}
.course-content{
	.course-listing{
			display: block;
		}
}

.lesson-content{
  .lesson{
			display: block;
		}
}

.quiz-content{
	.quiz{
		display: block;
	}
}

.lesson-creation{
 .create-lesson{
		display: block;
	}
}
.admin-approval{
	.admin-dashboard{
		display: block;
	}
}
.btn-wrapper{
  margin-bottom: 30px;
}

.modal{
	width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
	z-index: 99;
	display: none;

	.modal-header{
		padding: 20px;
		border-bottom: 1px solid #bbb;
		h3{
			font-size: 18px;
			color: $text-blue;
			font-weight: 600;
			font-family: $cairo;
		}
	}
	.modal-content{
		padding: 20px;
		label{
			font-size: 16px;
			color: $text-blue;
			font-family: $cairo;
			display: block;
			margin-bottom: 10px;
		}
		input{
			padding: 10px 7px;
			font-size: 14px;
			color: $text-blue;
			width: 70%;
			border: 1px solid #bbb;
			border-radius: 3px;
			box-sizing: border-box;
		}
		.upload{
				width: 30%;
				display: inline-block;
				height: 50px;
				border: 1px dashed #bbb;
				box-sizing: border-box;
				border-radius: 3px;
				p{
					font-family: $cairo;
					font-size: 14px;
					color: $text-blue;
					opacity: 0.5;
					text-align: center;
					padding-top: 18px;
				}
		}
	}
	.modal-footer{
		padding: 20px;
		border-top: 1px solid #bbb;
		.btn-primary{
			float: right;
			padding: 5px 15px;
			font-size: 14px;
		}
		.cancel{
			font-size: 14px;
			color: $text-blue;
			opacity: 0.6;
			margin: 10px 20px 0 0;
			font-family: $cairo;
			float: right;
		}
		&::after{
			visibility: hidden;
			display: block;
			content: "";
			clear: both;
			height: 0;
		}
	}
}
.creation-modal{
	&.active{
		display: block;
	}
	.pass-percentage{
		margin-top: 20px;
		.course-name{
				width: 8%;
    text-align: center;
		}
	}
	label{
		display: inline-block!important;
		margin-bottom: 0;
	}
	input{
		margin-left: 10px;
	}
}
.profile-modal{
	&.active{
		display: block;
	}
	.update-password{
			 display: block;
    margin-top: 30px;
    font-family: $cairo;
    color: $blue;
				text-decoration: underline;
				cursor: pointer;
	}
	.pw-msg{
		font-size: 16px;
		color: $text-blue;
		font-family: $cairo;
		margin-top: 30px;
	}
}
.backdrop{
	display: none;
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right:0;
	background-color: rgba(0,0,0,0.6);
	z-index: 9;
	&.active{
		display: block;
	}
}

/** checkbox **/

.b-contain *, .b-contain *::before, .b-contain *::after {
	box-sizing: content-box !important;
}

.b-contain input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.b-contain span {
	line-height: 1.54;
	font-size: 1rem;
	font-family: $cairo;
}

.b-contain {
	display: table;
	position: relative;
	padding-left: 1.8rem;
	cursor: pointer;
	margin-bottom: .5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.25rem;
	width: 1.25rem;
	background: rgba(241, 245, 248, 1);
	transition: background 250ms;
	border: 1px solid rgba(184, 194, 204, 1);
	border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.25rem;
	width: 1.25rem;
	background: rgba(241, 245, 248, 1);
	transition: background 250ms;
	border: 1px solid rgba(184, 194, 204, 1);
	border-radius: 2.0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
	content: '';
	position: absolute;
	display: none;
	left: .45rem;
	top: .18rem;
	width: .25rem;
	height: .6rem;
	border: solid rgba(255, 255, 255, 1);
	border-width: 0 2px 2px 0;
	transition: background 250ms;
	transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
	content: '';
	position: absolute;
	display: none;
	left: .25rem;
	top: .25rem;
	width: .75rem;
	height: .75rem;
	border-radius: 2.0rem;
	background: rgba(255, 255, 255, 1);
	transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
	border-color: rgba(135, 149, 161, 1);
}

.b-contain input.checked ~ .b-input::after {
	display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
	background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
	box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
}

.b-contain input.checked + .b-input {
	background: #0066FF;
	border-color: #0066FF;
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
	background: rgba(241, 245, 248, 1);
	border-color: rgba(184, 194, 204, 1);
	opacity: 0.6;
	cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
	background: rgba(241, 245, 248, 1);
	border-color: rgba(184, 194, 204, 1);
	opacity: 0.6;
	cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
	background: rgba(135, 149, 161, 1);
}


.b-contain input:checked ~ .b-input::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 3rem;
	height: 3rem;
	margin-left: -0.85rem;
	margin-top: -0.85rem;
	background: #fff;
	border-radius: 2rem;
	opacity: .6;
	z-index: 99999;
	transform: scale(0);
}


.b-contain .b-input::before {
	visibility: hidden;
}

.b-contain input:focus + .b-input::before {
	visibility: visible;
}

.b-contain:first-child .b-input::before {
	visibility: hidden;
}

select {
	height: 40px;
	font-size: 100%;
	font-weight: 600;
	font-family: $cairo ;
	cursor: pointer;
	border-radius: 0;
	background-color: #fff;
	background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/Arrow-down.svg) no-repeat center right 14px;
	border: 1px solid #b5b5b5;
	border-radius: 2px;
	color: $text-blue;
	padding: 6px 10px;
	padding-right: 38px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	/* Adding transition effect */
	transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}
/* For IE <= 11 */
select::-ms-expand {
	display: none; 
}
// select:hover,
// select:focus {
// 	background-color: #f6f6f6;
// 	border-bottom-color: $blue;
// }

.btn-loader{
			background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/loader.svg) no-repeat center;
    background-size: 36%;
    color: transparent;
}