.assigned-course{
  font-size: 0;
}
.course {
  display: inline-block;
  vertical-align: top;
  margin: 0px 30px 30px 0;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(187, 187, 186, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
  img {
    width: 100%;
    height: 192px;
    object-fit: cover;
  }
  div {
    padding: 20px 24px 15px 24px;
    border-top: 1px solid rgba(187, 187, 186, 0.5);
  }
  .course-name {
    font-family: $cairo;
    font-size: 16px;
    font-weight: bold;
    color: $text-blue;
    margin-bottom: 8px;
  }
  .lesson-count {
    font-family: $cairo;
    font-size: 14px;
    color: $text-blue;
  }
  .course-edit{
    background: url('https://storage.googleapis.com/gajendran-mohan.appspot.com/test/edit-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100%;
    float: right;
  }
}
.course-pos{
  width: calc((100% / 3) - 20px);
  height: 270px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

/** Admin styles **/

.create-course{
  background: #FFFFFF;
  border: 1px dashed #BBBBBB;
  box-sizing: border-box;
  border-radius: 3px;
  background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/PLUS.svg) no-repeat center center;
  display: inline-block;
  margin: 0 30px 30px 0;
  cursor: pointer;
  h4 {
    font-family: $cairo;
    font-weight: 600;
    font-size: 18px;
    color: $text-blue;
    text-align: center;
    padding-top: 180px;
    box-sizing: border-box;
  }
}

.course-image-preview{
    width: 50%;
    display: inline-block;
    height: 200px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 3px;
    object-fit: cover;
    margin-right: 40px;
}

.enrol{
    color: $blue;
    float: right;
    font-family: $cairo;
    font-weight: 600;
    width: 80px;
    height: 34px;
    background-color:rgba(0, 102, 255, 0.1);
    text-align: center;
    display: inline-block;
    padding: 8px 10px;
    box-sizing: border-box;
    position: relative;
    bottom: 15px;
    border-radius: 36px;
}