.lesson-header{
 margin-bottom: 20px;
}
.lesson-name{
 font-family:  $rubik;
 font-weight: 600;
 font-size: 20px;
 color: $text-blue;
 display:inline-block;
}
.lesson-number{
 float: right;
 h4{
 font-family:  $cairo;
 font-weight: 400;
 font-size: 18px; 
 color: $text-blue;
 display: inline-block;
 line-height: 18px;
  span{
   font-size: 24px;
   font-weight: 600;
   color: $blue;
  }
 }
}
.lesson-main{
  background: #F6F6F6;
  padding: 20px 20px 40px 20px;
  font-size: 0;
  display:none;
  &.active{
   display:flex;
   flex-wrap:wrap;
   justify-content: space-between;
  }
  .text{
  //  background-color: #fff;
   color:  $text-blue;
   font-family: $cairo;
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.3;
   line-height: 1.5;
   max-height: 309px;
   overflow: auto;
   display: inline-block;
   box-sizing: border-box;
   position: relative;
   width: 100%;
   margin-top: $gutter-y;
  &:only-child{
    width: 100% !important;
    margin-top: 0;
    .lesson_text{
      max-width: 100% !important;
      width: auto;
    }
  }
  &.text-content{
    width: $w-full;
    margin-top: $gutter-y;
  }
  ul{
    list-style-type: disc;
    list-style-position: inside ;
  }
  ol{
    list-style-type: decimal;
  }
  .lesson_text{
    background-color: #fff;
    padding: 20px 30px;
    overflow: auto;
    max-width: 300px;
    height: 260px;
  }
  &.gparagraph{
    background-color: #fff;
    padding: 10px;
  }
}
  .image{
   height: 500px;
   display:  inline-block;
   vertical-align: top;
   position: relative;
   background-color: #fff;

  &:only-child{
    width: 100% !important;
    height: 500px;
  }
   img{
     width: 100%;
     height: 100%;
     object-fit: contain;
   }
   &.uploading .loader{
     display: inline-block;
   }
  }
  .video{
   display:  inline-block;
   height: 500px;
   position: relative;
   background-color: #fff;
   &.uploading .loader{
    display: inline-block;
  }
  &:only-child{
    width: 100% !important;
    height: 500px;
  }
  video{
    width: 100%;
    height: 100%;
  }
  }
  &.three{
    .image{
      width: calc(50% - 30px);
      margin-right: 60px;
    }
    .video{
      width: calc(50% - 30px);
    }
    .text{
      width: 100%;
      margin-top: 60px;
    }
  }
  &.two{
   
    .image ~ .video{
      width: calc(50% - 30px);
      margin-right: 30px;
    }
    .image ~ .text{
      width: 30%;
      margin-top: 0;
      vertical-align: top;
    }
    .image{
      width: calc(50% - 30px);
      margin-right: 30px;
    }
    .video{
      width: calc(70% - 30px);
      margin-right: 30px;
    }
    .video ~ .text{
      width: 30%;
      margin-top: 0;
      vertical-align: top;
    }
    .img-text{
      width: calc(70% - 30px)!important;
      margin-right: 30px;
    }
  }
}
.lesson-content{
  .lesson-main{
    .text{
    max-height: 500px;
  }
}
}
  .mark-complete{
    position: absolute;
    right: 180px;
    display: inline-block;
    margin-top: 8px;
  }
  .lesson{
    btn-primary{
      float: right;
     }
  }
  .footer-wrapper{
    position: relative;
    margin-top: 30px;
  }

  /** lightbox changes **/

  .gslide-image{
    width: 900px!important;
    height: 600px!important;
    background-color: #fff;
    img{
      width: 100%!important;
      height: 100%!important;
      object-fit: contain!important;
    }
  }
  .ginlined-content{
    font-size: 20px!important;
    line-height: 1.5!important;
    letter-spacing: 0.3px!important;
  }
  .gnext, .gprev{
    display: none!important;
  }
  .gslide-description{
    overflow-y: auto!important;
  }
  .gdesc-inner{
    overflow-y: unset!important;
  }

  .gslide-description{
    font-family: $cairo!important;
    font-size: 16px!important;
    border-left: 1px soild #bbb!important;
  }


  .ql-align-justify{
    list-style: inside;
  }

  /** Admin Styles **/

  .create-lesson{
      .course-head{
        margin-top: 55px;
        padding: 25px 50px;
        box-shadow: 0px 4px 10px rgba(218,218,218,0.5);
        border-bottom: 1px solid #ececec;
        .go-back{
          background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/arrow-left.svg) no-repeat center top 2px;
          width: 14px;
          height: 15px;
          display: inline-block;
          margin-right: 30px;
          cursor: pointer;
        }
        h4{
          display: inline-block;
          font-size: 18px;
          font-family: cairo;
          font-weight: 800;
        }
        .publish{
          float: right;
          position: relative;
          bottom: 10px;
          padding: 6px 12px;
          font-size: 14px;
          &:disabled{
            opacity: 0.6;
          }
        }
        .cancel{
          line-height: 18px;
          float: right;
          font-size: 15px;
          margin-right: 20px;
        }
      }
      .steps{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(218, 218, 218, 0.5);
        // margin-top: 60px;
        padding: 20px 50px;
        font-family: $cairo;
        color: $text-blue;
        box-sizing: border-box;
        div{
          a{
            margin-right: 40px;
            font-size: 16px;
            cursor: pointer;
            &.active{
              font-weight: 600px;
              border-bottom: 3px solid $blue;
              padding-bottom: 10px;
            }
          }
        }
      }
      .sidebar{
        width: 16%;
        height: 100vh;
        padding: 10px 20px 20px 20px;
        box-shadow: 0px 4px 10px rgba(218, 218, 218, 0.5);
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
        max-height: 100vh;
        overflow: auto;
        ul{
          position: relative;
          padding-bottom: 50px;
          li{
            color: rgba(28, 40, 69, 0.6);
            font-family: $cairo;
            font-size: 16px;
            padding: 20px 0;
            border-bottom:  0.5px solid #DEDEDE;
            cursor: pointer;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.active{
              color: $text-blue;
              font-weight: 600;
            }
          }
          .add-lesson{
            color: #06f;
            font-weight: 600;
            position: fixed;
            bottom: 20px;
            border: none;
            padding: 0;
            background: #fff;
            display: inline-block;
            padding: 20px 80px 20px 60px;
            bottom: 0;
            left: 0;
            border-top: 1px solid #06f;
          }
        }
      }
      .content-main{
        display: inline-block;
        padding: 30px 20px 20px 50px;
        width: 84%;
        box-sizing: border-box;
        input{
          padding: 10px 10px 10px 20px;
          border: 1px solid #e2e2e2;
          border-radius: 2px;
          width: 600px;
          box-sizing: border-box;
          font-size: 18px;
        }
      .component{
        font-family: $cairo;
        font-weight: 600;
        font-size: 18px;
        margin: 35px 0 30px 0;
        h5{
          font-family: $cairo;
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 30px;
        }
        .pill{
          border: 1px solid $blue;
          border-radius: 35px;
          padding: 5px 20px;
          font-size: 16px;
          color: $blue;
          font-family: $cairo;
          font-weight: 600;
          box-sizing: border-box;
          margin-right: 25px;
          cursor: pointer;
        }
      }
      .creation-main{
        width:100%;
        font-size: 0;
      }
      .lesson-main{
        display: block!important;
        margin-bottom: 20px;
      }
    }

  }
  .creation-main{
    width:100%;
    font-size: 0;
  }
  .li-main{
    display: none;
    &.active{
      display: block!important;
    }
    .text-editor{
      width: 100%;
      max-height: 250px;
      overflow-y: auto;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #E5E5E5;
      font-size: 16px;
      resize: none;
    }
    .upload-content{
      display: inline-block;
      width: calc(50% - 20px);
      margin-right: 20px;
      margin-top: 30px;
      span{
        font-size: 16px;
        background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/upload.svg) no-repeat #fff center;
        width: 100%;
        margin-right: 20px;
        display: inline-block;
        height: 350px;
        text-align: center;
        padding-top: 230px;
        box-sizing: border-box;
        font-family: $cairo;
      }
    }
    .delete-item{
      font-size: 14px;
      float: right;
      display: inline-block;
      margin-top: 10px;
      font-family: $cairo;
      color: $red;
      cursor: pointer;
    }
    &.three{
      .image{
        width: calc(50% - 30px);
        margin-right: 60px;
      }
      .video{
        width: calc(50% - 30px);
      }
      .text{
        width: 100%;
        margin-top: 60px;
        .lesson_text{
          max-width: 100%;
          max-height: 260px;
          height: auto;
        }
      }
    }
    &.two{
     
      .image ~ .video{
        width: calc(50% - 30px);
        margin-right: 30px;
      }
      .image ~ .text{
        width: 30%;
        margin-top: 0;
        vertical-align: top;
      }
      .image{
        width: calc(50% - 30px);
        margin-right: 30px;
      }
      .video{
        width: calc(70% - 30px);
        margin-right: 30px;
      }
      .video ~ .text{
        width: 30%;
        margin-top: 0;
        vertical-align: top;
      }
      .img-text{
        width: calc(70% - 30px)!important;
        margin-right: 30px;
      }
    }
    .image,.video{
      height: 300px;
    }
    .text{  
      max-height: none;
      overflow: unset;
    }
  }
  .content-main{
    display: inline-block;
    padding: 30px 20px 20px 50px;
    width: 84%;
    box-sizing: border-box;
    input{
      padding: 10px 10px 10px 20px;
      border: 1px solid #B5B5B5;
      border-radius: 2px;
      width: 600px;
      box-sizing: border-box;
      font-size: 18px;
    }
  .component{
    font-family: $cairo;
    font-weight: 600;
    font-size: 18px;
    margin: 35px 0 30px 0;
    h5{
      font-family: $cairo;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 30px;
    }
    .pill{
      border: 1px solid $blue;
      border-radius: 35px;
      padding: 4px 30px;
      font-size: 16px;
      color: $blue;
      font-family: $cairo;
      font-weight: 600;
      box-sizing: border-box;
      margin-right: 40px;
    }
  }

}
.cancel{
  font-family: $cairo;
  font-size: 12px;
  color: $text-blue;
  opacity: 0.6;
  margin-left: 20px;
  cursor: pointer;
}
.delete{
    float: right;
    font-size: 14px;
    font-family: $cairo;
    color: $red;
    cursor: pointer;
}
.create-lesson, .create-quiz{
  display: none;
}
.question-type{
  margin: 40px 0 20px 0;
  select{
    font-size: 14px;
  }
}
.input-option{
  opacity: 1!important;
  z-index: 1!important;
}
.quiz-input{
  display: inline-block!important;
  margin-bottom: 15px!important;
  input{
    width: 0!important;
  }
  .b-input{
    left: -40px!important;
  }
}
.viewport-lesson{
  .create-lesson{
    display: inline-block;
  }
  .create-quiz{
    display: none;
  }
}
.viewport-quiz{
  .create-lesson{
    display: none;
  }
  .create-quiz{
    display: inline-block;
  }
}
.create-quiz{
  .each-question{
    display: none;
    &.active{
      display: block;
    }
  }
}

.loader{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/loader.svg) no-repeat center rgba(0,0,0,0.9);
    background-size: 20%;
    z-index: 1;
    display: none;
}

.text-modal{
  width: 900px;
  &.active{
    display: block;
  }

  .editor{
    height: 300px;
  }
}