.question {
  display: none;
  &.active {
    display: block;
  }
}

.question-holder {
  background-color: #f6f6f6;
  margin-bottom: 50px;
  padding: 40px 100px;
}

.question-template {
  font-family: $cairo;
  font-size: 24px;
  font-weight: 600;
  color: $text-blue;
  margin-bottom: 40px;
}

.options-template {
  font-family: $cairo;
  font-size: 14px;
  font-weight: 600;
  color: $text-blue;
  span {
    display: block;
    margin-bottom: 25px;
  }
}
.question-options{
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0;
  }
}

.quiz-status {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 4px;
  font-family: $cairo;
  font-size: 14px;
  font-weight: 600;
  &.correct {
    background: #DAE4D6;
    color: #367C2B;
  }
  &.incorrect {
    background: #F9E0DE;
    color: #D53323;
  }
}

.submit-question {
  float: right;
}

.summary {
  font-family: $cairo;
  text-align: center;
  margin: 150px auto 0 auto;
  span {
    font-size: 24px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
  }
  &.pass {
    background: url('https://storage.googleapis.com/gajendran-mohan.appspot.com/test/pass.svg') no-repeat top center;
    width: 692px;
    height: 548px;
    background-size: 60%;
    padding-top: 340px;
  }
  &.fail {
    background: url('https://storage.googleapis.com/gajendran-mohan.appspot.com/test/fail.svg') no-repeat top center;
    width: 692px;
    height: 548px;
    background-size: 60%;
    padding-top: 340px;
  }
}
.paragraph{
    width: 75%;
    height: 120px;
    resize: none;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-family: $cairo;
}