.signup-main{
 overflow: hidden;
 font-size: 0;
 .signup-btn{
  width: 100%;
 }
}
.signup{
 display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-30%);
  margin-left: 100px;
}
.login{
 transform: translateY(-50%);
}
 h2{
  font-family: $rubik;
  font-size: 18px;
  font-weight: 500;
  color: $text-blue;
  margin-bottom: 50px;
 }
 .input-group{
  margin-bottom: 30px;
  label{
   font-family: $cairo;
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 12px;
  display: block;
  }
  input{
   border-radius: 2px;
   border: solid 0.5px #e5e5e5;
   background-color: #ffffff;
   width: 440px;
   height: 45px;
   padding: 10px 20px;
   box-sizing: border-box;
   font-size: 16px;
  }
 }
 .exist{
  color:#5c5c5c;
  font-family:  $cairo;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
  a{
   text-decoration: none;
   font-weight: 600;
   color: #0066ff;
  }
 }
.success-msg{
 text-align: center;
 font-size: 16px;
 font-family: $rubik;
 font-weight: 500;
 vertical-align: top;
 margin-top: 25%;
 width: 50%;
 display:inline-block;
}
.signup-img{
 background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/university.png) no-repeat left 0 center;
 width: 50%;
 height: 100vh;
 display: inline-block;
 background-size: cover;
}

.login-img{
 background: url(https://storage.googleapis.com/gajendran-mohan.appspot.com/test/table.png) no-repeat left 0 center;
 width: 50%;
 height: 100vh;
 display: inline-block;
 background-size: cover;
}
.forgotpwd{
  font-size: 14px;
  display: block;
  text-align: right;
  margin-top: 15px;
  font-family: $cairo;
  color: $blue;
} 
