.admin-dashboard{
 margin-top: 60px;
 .table{
   width: 1340px;
    margin: 60px 50px;
    background-color: #fff;
    border: 1px solid #bbb;
 }
 .table-wrapper{
  margin-top: 100px;
 }
 .request-active{
  display: block;
 }
 .stats-active{
  display: block;
 }
 .table-header{
    margin-bottom: 16px;
    border-bottom: 1px solid #bbb;
    font-size: 16px;
    font-size: 18px;
    font-family: $rubik;
    color: $text-blue;
    padding: 20px;
    text-align: left;
    font-weight: 500;
 }
 tr{
  td{
    padding: 20px;
    font-size: 16px;
    font-family: $cairo;
  }
 }
 .reject{
  border: 1px solid $red;
  color: $red;
  padding: 2px 10px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
 }
 .approve{
  border: 1px solid $green;
  color: $green;
  padding: 2px 10px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
 }
}
.stats{
 display: none;
}
.chart{
  margin-left: 40px;
  display: block;
  width: 800px;
  height: 400px;
}