$rubik:   'Rubik', sans-serif;
$cairo:   'Cairo', sans-serif;
$blue:  #0066FF;
$text-blue: #1C2845;
$red : #D53323;
$green: #367C2B;
$ph-color :  rgba(0,0,0,0.3);
$gutter-x: 50px;
$gutter-y: 60px;
$w-half:calc(50% - ( #{$gutter-y} / 2) );
$w-full:100%;